# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}

    env:
      ImageName: yantaocheng/embynginx
      Tag: beta

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Pull Docker image
        run: |
          echo "FullName=${{ env.ImageName }}:${{ env.Tag }}" >> $GITHUB_ENV
          docker pull ${{ env.FullName }}
  
      - name: Save Docker image to tar file
        run: |
          echo "LocalName=${FullName//\//_}" >> $GITHUB_ENV
          docker save -o ${{ env.LocalName }}.tar ${{ env.FullName }}
  
      - name: Create a PreRelease and upload docker image
        uses: Hs1r1us/Release-AIO@v2.0.0
        with:
          release_name: ${{ env.LocalName }}_RUN_${{ github.run_number }}
          prerelease: false
          tag_name: Run_${{ github.run_number }}
          asset_files: ./${{ env.LocalName }}.tar
